[Desktop Entry]
Name=bgchd
Comment=auto background changer daemon
Exec=bgchd -dir /usr/share/backgrounds/ -intv 1m -bcknd gnome3
Type=Application
Terminal=false
